*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 500;
}
a:link,
:visited,
:active
 { 
  text-decoration: none;
  color: black;
 }
 a:hover{
  text-decoration: none;
  color: rgb(25, 182, 255);
}
.navi{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 15px gray;
  font-size: 24px;
  letter-spacing: 2px;
}
.page-name{
  color: rgb(25, 182, 255);
}
.stopwatch{
  margin-right: 25px;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  font-size: 80px;
}
.container{
  height: 350px;
  width: 650px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);
}
.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}
.btn{
  font-family: 'Roboto';
  background: transparent;
  color: black;
  letter-spacing: 0.1rem;
  font-weight: 500;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1rem;
  height: 50px;
  width: 100px;
}
.btn:hover{
  background-color: rgb(25, 182, 255);
  color: white
}
.js-reset{
  margin-left: 20px;
}